
/*.tab.active > * {
    color: white !important;
}*/

.header.collapsible {
    box-sizing: content-box;
    background-color: transparent !important;
    border-color: #e5e5e5;
    border-right: 1pt #e5e5e5 solid;
}


.split-view-view >
.collapsible >
* >
.monaco-tree >
.monaco-scrollable-element >
.monaco-tree-wrapper >
.monaco-tree-rows > 
.monaco-tree-row.focused {
    box-sizing: content-box;
    background-color: #F2F2F2 !important;
    border-right: 1pt #e5e5e5 solid;
}

.explorer-folders-view >
.monaco-tree >
.monaco-scrollable-element >
.monaco-tree-wrapper >
.monaco-tree-rows > 
.monaco-tree-row.focused.selected >
.content >
.monaco-icon-label >
.label-name {
    color: #CD4602 !important;
}

.monaco-tree-row.focused.selected > .content > .sub-content > .monaco-icon-label > .label-name {
    color: #3A79B5 !important;
}

.sidebar {
    box-sizing: content-box;
    border-right: 1pt #e5e5e5 solid;
}

.tabs {
    box-sizing: content-box;
    border-bottom: 1pt #e5e5e5 solid;
}

.scroll-decoration {
    opacity: 0 !important;
}

.part.titlebar {
    display: none !important;
    height: 0 !important;
}

.part.panel > .composite.title {
    border-top: 1pt #e5e5e5 solid !important;
}